* {
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
}

.header * {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
}

.container {
    white-space: nowrap;
}

.card {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #797977;
}

.card * {
    vertical-align: top;
}

.card > .card-body > .movie-rating, 
.card > .card-body > .movie-descr {
    display: inline-block;
    white-space: normal;
    max-width: 75%;
}

.card > .card-header > * {
    display: inline-block;
    white-space: normal;
}

.card > .card-header > .card-header_right * {
    max-width: 100%;
}

.card > .card-body > .movie-rating * {
    display: inline-block;
}