:root {
    font-size: calc(0.4vw + 12px);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    font-size: 0.8rem;
}

h2 {
    letter-spacing: 0.2rem;
}

.spacer {
    flex: 1 1 auto;
}

.font_dancing_script {
    font-family: 'Dancing Script', cursive;
}

.clr-gold {
    color: #887850 !important;
}

.bkgr-clr-gold {
    background-color: #887850 !important;;
}

.clr-gray-light {
    color: #e5e4e3 !important;
}

.bkgr-clr-gray-light {
    background-color: #e5e4e3 !important;
}

.clr-gray {
    color: #7f7975 !important;
}

.bkgr-clr-gray {
    background-color: #7f7975 !important;
}

.clr-cream {
    color: #f5f6f1 !important;
}

.bkgr-clr-cream {
    background-color: #f5f6f1 !important;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    min-height: 10rem;
}

.logo-container {
    bottom: -2.2rem;
    z-index: 1;
}

.logo {
    width: 18rem;
}

.logo a {
    height: 100%;
    width: 100%;
    display: block;
}

.navbar-toggler:focus {
    outline: none;
}

.book-img, .hand-img {
    height: 30rem;
}

.book-img {
    background: url('./images/book.jpg') center center / cover no-repeat;
}

.hand-img {
    background: url('./images/hand.jpg') center center / cover no-repeat;
}

.nav-separator {
    width: 40%;
}

.section-work-range .card {
    border: none;
}

.section-work-range .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-work-range .card-img-top {
    width: 6rem;
}

.section-work-range .btn {
    border-radius: 0;
}

.section-about img, .section-about .container-about {
    width: 50%;
}

.container-about {
    padding: calc(4vw + 1rem);
}

.container-about h3 {
    font-size: 2.2rem;
}

.container-about * {
    margin-bottom: 1rem;
}

.container-about .btn {
    border-radius: 0;
    width: 60%;
}

.section-projects a:hover {
    text-decoration: none;
}

.project-card {
    height: 24rem;
    width: 16rem;
    margin: 1rem;
    box-shadow: 0px 0px 3px 0px silver;
}

.partner-card {
    height: 24rem;
    width: 100%;
}

.project-description, .partner-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-description > div, .partner-description > div {
    flex: 1;
}

.project-description p {
    color: black;
    font-size: 0.7rem;
    margin: 0 0.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.partner-description p {
    color: black;
    font-size: 0.7rem;
    margin: 0 0.5rem;
}

.partner-pic {
    height: 50%;
    background: transparent center center / contain no-repeat;
    max-width: 80%;
    margin: 0 auto 0.6rem auto;
}

.partner-pic__visivo {
    background-image: url('images/visivo.jpg');
}
.partner-pic__rkg-logo-2 {
    background-image: url('images/rkg-logo-2.png');
}
.partner-pic__Logoz {
    background-image: url('images/Logoz.jpg');
}
.partner-pic__Gigantprint {
    background-image: url('images/Gigantprint.jpg');
}
.partner-pic__Nettstedsinformasjon {
    background-image: url('images/Nettstedsinformasjon.png');
}
.partner-pic__2punkt {
    background-image: url('images/2punkt.jpg');
}
.partner-pic__bokstavogbilde {
    background-image: url('images/bokstavogbilde.png');
}
.partner-pic__Logo_FLOAT {
    background-image: url('images/Logo_FLOAT.jpg');
}

.project-pic{
    height: 45%;
}

.project-pic__vinbar {
    background: url('images/vinbar.jpg') center center / cover no-repeat;
}
.project-pic__bok {
    background: url('images/bok.jpg') center center / cover no-repeat;
}
.project-pic__sykehus {
    background: url('images/sykehus.jpg') center center / cover no-repeat;
}
.project-pic__visivo {
    background: url('images/visivo.jpg') center center / cover no-repeat;
}
.project-pic__ysteri {
    background: url('images/ysteri.jpg') center center / cover no-repeat;
}
.project-pic__arv {
    background: url('images/arv.jpg') center center / cover no-repeat;
}
.project-pic__aurskog-hogland_ny_logo {
    background: url('images/aurskog-hogland_ny_logo.jpg') center center / cover no-repeat;
}
.project-pic__osl-sthlm_3_timer {
    background: url('images/osl-sthlm_3_timer.jpg') center center / cover no-repeat;
}
.project-pic__hyttee {
    background: url('images/hyttee.jpg') center center / cover no-repeat;
}
.project-pic__tapet-norsk-arv {
    background: url('images/tapet-norsk-arv.jpg') center center / cover no-repeat;
}
.project-pic__Robotklipper-1 {
    background: url('images/Robotklipper-1.jpg') center center / cover no-repeat;
}
.project-pic__portfolio-esker {
    background: url('images/portfolio-esker.jpg') center center / cover no-repeat;
}
.project-pic__Ekeberg-bhage1 {
    background: url('images/Ekeberg-bhage1.jpg') center center / cover no-repeat;
}
.project-pic__Jul-på-Bjørkelangen {
    background: url('images/Jul-på-Bjørkelangen.jpg') center center / cover no-repeat;
}
.project-pic__Kalender-1 {
    background: url('images/Kalender-1.jpg') center center / cover no-repeat;
}
.project-pic__profilering {
    background: url('images/profilering.png') center center / cover no-repeat;
}
.project-pic__Ildstedet {
    background: url('images/Ildstedet.jpg') center center / cover no-repeat;
}
.project-pic__Norske-hjem-bilder {
    background: url('images/Norske-hjem-bilder.jpg') center center / cover no-repeat;
}
.project-pic__Vårt-Land {
    background: url('images/Vårt-Land.jpg') center center / cover no-repeat;
}
.project-pic__store-skilt {
    background: url('images/store-skilt.jpg') center center / cover no-repeat;
}
.project-pic__DM_Grim {
    background: url('images/DM_Grim.jpg') center center / cover no-repeat;
}
.project-pic__Grim-logo {
    background: url('images/Grim-logo.jpg') center center / cover no-repeat;
}
.project-pic__Leirminner {
    background: url('images/Leirminner.jpg') center center / cover no-repeat;
}
.project-pic__Tapetbok6 {
    background: url('images/Tapetbok6.jpg') center center / cover no-repeat;
}
.project-pic__Gigantprint1 {
    background: url('images/Gigantprint1.jpg') center center / cover no-repeat;
}
.project-pic__AHF {
    background: url('images/AHF.jpg') center center / cover no-repeat;
}
.project-pic__Gudbrandsdal {
    background: url('images/Gudbrandsdal.jpg') center center / cover no-repeat;
}
.project-pic__aurskog {
    background: url('images/aurskog.jpg') center center / cover no-repeat;
}
.project-pic__2punkt {
    background: url('images/2punkt.jpg') center center / cover no-repeat;
}
.project-pic__Villa-Lier {
    background: url('images/Villa-Lier.jpg') center center / cover no-repeat;
}
.project-pic__logoer {
    background: url('images/logoer.jpg') center center / cover no-repeat;
}
.project-pic__Annonse-Swissvax {
    background: url('images/Annonse-Swissvax.jpg') center center / cover no-repeat;
}
.project-pic__Nor-netting {
    background: url('images/Nor-netting.jpg') center center / cover no-repeat;
}
.project-pic__Normisjon1 {
    background: url('images/Normisjon1.jpg') center center / cover no-repeat;
}
.project-pic__Grimmaskin1 {
    background: url('images/Grimmaskin1.jpg') center center / cover no-repeat;
}
.project-pic__Nye-magasin-hos-Narvesen {
    background: url('images/Nye-magasin-hos-Narvesen.jpg') center center / cover no-repeat;
}
.project-pic__Kronbladet {
    background: url('images/Kronbladet.jpg') center center / cover no-repeat;
}
.project-pic__Kultur {
    background: url('images/Kultur.jpg') center center / cover no-repeat;
}
.project-pic__Myntesker {
    background: url('images/Myntesker.jpg') center center / cover no-repeat;
}
.project-pic__aurskog-senter {
    background: url('images/aurskog-senter.png') center center / cover no-repeat;
}
.project-pic__Hos-Mona-logo {
    background: url('images/Hos-Mona-logo.jpg') center center / cover no-repeat;
}
.project-pic__mangenoppslag {
    background: url('images/mangenoppslag.jpg') center center / cover no-repeat;
}
.project-pic__høland-idretts-og-undomslag {
    background: url('images/høland-idretts-og-undomslag.jpg') center center / cover no-repeat;
}
.project-pic__Skauen-husflidslag {
    background: url('images/Skauen-husflidslag.jpg') center center / cover no-repeat;
}
.project-pic__Eidsverket-akevittlag {
    background: url('images/Eidsverket-akevittlag.jpg') center center / cover no-repeat;
}
.project-pic__årsplan-2016-forside-1 {
    background: url('images/årsplan-2016-forside-1.jpg') center center / cover no-repeat;
}
.project-pic__bb-event {
    background: url('images/bb-event.jpg') center center / cover no-repeat;
}
.project-pic__egendesignet-tapet {
    background: url('images/egendesignet-tapet.jpg') center center / cover no-repeat;
}
.project-pic__Mangenfjelletturlag {
    background: url('images/Mangenfjelletturlag.jpg') center center / cover no-repeat;
}

/* .section-page-projects .row a:nth-child(3n+1) .project-description {
    background-color: #f5f6f1;
}
.section-page-projects .row a:nth-child(3n+2) .project-description {
    background-color: #887850;
    color: #f5f6f1;
}
.section-page-projects .row a:nth-child(3n+3) .project-description {
    background-color: #7f7975;
    color: #f5f6f1;
} */

.section-projects .btn {
    border-radius: 0;
    width: 11rem;
}

footer {
    width: 100%;
    padding: 3rem 2rem;
}

.social-icons {
    margin-bottom: 1rem;
}

.social-icons a {
    width: 1.3rem;
    margin: 0.5rem;
}

.social-icons img {
    width: 100%;
}

.section-contact-page, .section-page-projects, .section-page-partners {
    min-height: calc(100vh - 10.45rem);
    padding: 3rem;
}

.section-page-projects .row > a:hover, .section-page-partners .row > a:hover {
    text-decoration: none;
}

.section-contact-form form {
    margin-bottom: 3rem;
}

.link-home {
    text-decoration: underline;
    color: #7f7975;
    margin-bottom: 2rem;
    display: block;
}

.link-home:hover {
    text-decoration: underline;
    color: #7f7975;
}

.section-contact-form .form-control:focus {
    color: #7f7975;
    background-color: #fff;
    border-color: #887850;
    box-shadow: 0 0 4px 1px #887850;
}

@media (min-width: 768px) and (max-width: 1316px) {
    .section-work-range h4 {
        min-height: 3.5rem;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .navbar {
        max-height: 3.45rem;
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 1rem;
    }
    
    .section-work-range {
        padding: 0 3rem;
    }

    .section-work-range h4 {
        font-size: 1.4rem;
    }

    .section-work-range p {
        font-size: 0.8rem;
        line-height: 1.7;
    }

    .section-work-range .btn {
        font-size: 0.85rem;
    }

    .projects-container, .partners-container {
        max-width: 85%;
    }

    .partners-container .row > a {
        max-width: 33%;
    }
}

@media (max-width: 1024px) {
    
    .nav-link {
        font-size: 1rem;
    }
    
    .section-about {
        flex-direction: column;
    }
    
    .section-about img, .section-about .container-about {
        width: 100%;
    }
    
    .project-card {
        height: 28rem;
        width: 20rem;
    }
    
    .project-description p, .partner-description p {
        font-size: 0.8rem;
    }

    .section-contact-form {
        min-height: calc(100vh - 9.45rem);
    }
}

@media (max-width: 500px) {

    .logo-wrapper {
        min-height: 12rem;
    }

    .logo-container {
        bottom: -0.7rem;
    }

    .book-img, .hand-img {
        height: 25rem;
    }

    .project-description p {
        font-size: 0.85rem;
    }

    .section-contact-form {
        min-height: calc(100vh - 12.45rem);
        padding: 2rem 0.5rem;
    }
}