:root {
    font-size: calc(0.4vw + 12px);
}

body {
    font-family: 'Montserrat', sans-serif;
}

.font_dancing_script {
    font-family: 'Dancing Script', cursive;
}

.clr-gold {
    color: #887850 !important;
}

.bkgr-clr-gold {
    background-color: #887850 !important;;
}

.clr-gray-light {
    color: #e5e4e3 !important;
}

.bkgr-clr-gray-light {
    background-color: #e5e4e3 !important;
}

.clr-gray {
    color: #7f7975 !important;
}

.bkgr-clr-gray {
    background-color: #7f7975 !important;
}

.clr-cream {
    color: #f5f6f1 !important;
}

.bkgr-clr-cream {
    background-color: #f5f6f1 !important;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    min-height: 7rem;
}

.logo-container {
    bottom: -2rem;
}

.logo {
    width: 7rem;
}

.logo-container > h1 {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    margin-bottom: 0;
}
    
.logo-container > h2 {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    margin-bottom: 0;
}

.navbar-toggler:focus {
    outline: none;
}

.book-img, .hand-img {
    height: calc(100vh - 10.45rem);
}

.book-img {
    background: url('./images/book.jpg') center center / cover no-repeat;
}

.hand-img {
    background: url('./images/hand.jpg') center center / cover no-repeat;
}

.separator {
    width: 40%;
}

.card {
    border: none;
}

.card-img-top {
    width: 6rem;
}

.card-body .btn {
    border-radius: 0;
}

.section-about img, .section-about .container-about {
    width: 50%;
}

.container-about {
    padding: calc(4vw + 1rem);
}

.container-about h3 {
    font-size: 2.2rem;
}

.container-about * {
    margin-bottom: 1rem;
}

.container-about .btn {
    border-radius: 0;
    width: 60%;
}

.section-projects h2 {
    letter-spacing: 0.2rem;
}

.section-projects a:hover {
    text-decoration: none;
}

.project-card {
    height: 24rem;
    width: 16rem;
    margin: 1rem;
    box-shadow: 0px 0px 3px 0px silver;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-description > div {
    flex: 1;
}

.project-description-line {
    width: 2.5rem;
    height: 0.15rem;
    background-color: black;
}

.project-description p {
    color: black;
    font-size: 0.7rem;
    margin: 0 0.5rem;
}

.project-pic {
    height: 45%;
}

.project-pic__vinbar {
    background: url('images/vinbar.jpg') center center / cover no-repeat;
}

.project-pic__bok {
    background: url('images/bok.jpg') center center / cover no-repeat;
}

.project-pic__sykehus {
    background: url('images/sykehus.jpg') center center / cover no-repeat;
}

.project-pic__visivo {
    background: url('images/visivo.jpg') center center / cover no-repeat;
}


.section-projects .btn {
    border-radius: 0;
    width: 11rem;
}

footer {
    width: 100%;
    padding: 5rem 2rem;
}

footer h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
    padding: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-right: 1rem;
}

.social-icons {
    margin-bottom: 1rem;
}

.social-icons a {
    width: 1.3rem;
    margin: 0.5rem;
}

.social-icons img {
    width: 100%;
}

@media (min-width: 992px) {
    .navbar {
        max-height: 3.45rem;
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-around;
        align-items: flex-end;
        margin: 0 1rem;
    }

    .projects-container {
        max-width: 85%;
    }
}

@media (max-width: 1024px) {
    .logo-wrapper {
        min-height: 6rem;
    }
    
    .nav-link {
        font-size: 1rem;
    }

    .book-img, .hand-img {
        height: calc(100vh - 9.45rem);
    }
    
    .section-about {
        flex-direction: column;
    }
    
    .section-about img, .section-about .container-about {
        width: 100%;
    }
    
    .project-card {
        height: 28rem;
        width: 20rem;
    }
    
    .project-description p {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {

    .logo-wrapper {
        min-height: 9rem;
    }

    .logo-container {
        bottom: 0;
    }

    .book-img, .hand-img {
        height: calc(100vh - 12.45rem);
    }

    .project-description p {
        font-size: 0.85rem;
    }

    footer {
        padding: 3rem 2rem;
    }

    footer h2 {
        margin-bottom: 3rem;
    }
}