.jumbotron {
    background: url("images/bg-3.jpg") no-repeat center center;
    background-size: cover;
}

.jumbotron {
    color: white;
}

.md-75 {
    font-size: 75px;
}

.tytlestyle {
    text-align: center;
    margin: 30px;
}

.separator {
    display: inline-block;
    width: 70px;
    height: 1px;
    border-top: 1px solid #bbb;
    margin: auto;
    text-align: center;
}

.grey_bg {
    background-color: #f5f5f5;
}