:root {
  font-size: calc(0.4vw + 12px); }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.8rem; }
  nav a {
    margin-right: 1rem;
    color: black; }
  nav a:hover {
    color: blue; }
  nav ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    nav ul a {
      font-size: 1rem; }

header {
  background: url(images/spacex.jpg) no-repeat center bottom;
  background-size: cover;
  -webkit-box-shadow: 0px 14px 50px 0px black;
  box-shadow: 0px 14px 50px 0px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5rem 2rem; }
  header h1 {
    font-size: 0;
    color: white;
    text-shadow: 2px 2px black; }
    header h1 .header-hello {
      display: inline-block;
      font-size: 4.7rem; }
    header h1 .header-greet {
      display: inline-block;
      font-size: 4rem; }
  header .word-space {
    width: 1.3rem; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3rem; }

section {
  width: 100%; }

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 1rem; }
  .container .title {
    margin: 1.5rem;
    text-align: center; }
    .container .title h2 {
      margin-bottom: .5rem;
      font-size: 2rem; }
    .container .title span {
      display: inline-block;
      width: 3.5rem;
      height: 1px;
      border-top: 1px solid #bbb;
      margin: auto;
      text-align: center; }
  .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .container .row .row-el {
      padding: 0 1rem;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
      max-width: 33.33%;
      text-align: center; }
      .container .row .row-el .icon {
        font-size: 3rem; }
      .container .row .row-el h3 {
        font-size: 1.55rem;
        margin: .5rem 0; }
      .container .row .row-el p {
        font-size: 0.9rem;
        margin-bottom: 1rem; }

.can-help {
  padding-bottom: 3rem; }

.my-apps {
  background-color: #f4f4f4;
  padding-bottom: 2rem; }
  .my-apps .container .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .my-apps .container .row .row-el {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
      flex: 1 0 0;
      margin-bottom: 1rem; }
    .my-apps .container .row .row-el::hover {
      z-index: 111; }
  .my-apps a {
    text-decoration: none;
    color: black; }
    .my-apps a .game-pic {
      width: 12rem;
      height: 12rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 2rem;
      margin-bottom: 1rem;
      -webkit-box-shadow: 0px 0px 5px 1px #c1c1c1;
      box-shadow: 0px 0px 5px 1px #c1c1c1; }
    .my-apps a .game-pic:hover {
      -webkit-box-shadow: 0px 0px 5px 1px blue;
      box-shadow: 0px 0px 5px 1px blue; }
    .my-apps a .github-api {
      background: url("images/github-api.png") no-repeat center center;
      background-size: cover; }
    .my-apps a .suitcase {
      background: url("images/Suitcase.png") no-repeat center center;
      background-size: cover; }
    .my-apps a .bmi {
      background: url("images/bmi.png") no-repeat center center;
      background-size: cover; }
    .my-apps a .keycode {
      background: url("images/keycode.png") no-repeat center center;
      background-size: cover; }
    .my-apps a .yesorno {
      background: url("images/yesorno.png") no-repeat center center;
      background-size: cover; }
  .my-apps a:hover {
    color: blue; }

.request-form {
  background: url(images/nature.jpg) no-repeat center center;
  background-size: cover; }
  .request-form h2 {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.5rem;
    color: white; }
  .request-form h3 {
    text-align: center;
    font-size: 1rem;
    margin: -1rem 0 1rem 0; }
  .request-form .msgSent {
    display: none;
    color: green; }
  .request-form .msgNotSent {
    display: none;
    color: red; }
  .request-form .form {
    max-width: 20rem;
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
    .request-form .form span {
      color: white;
      text-shadow: 1px 1px black; }
    .request-form .form input, .request-form .form textarea {
      margin-bottom: 0.5rem;
      min-height: 1.3rem;
      opacity: 0.7;
      border-radius: 5px;
      padding: 0.4rem; }
    .request-form .form input:focus, .request-form .form textarea:focus {
      background-color: yellowgreen; }
    .request-form .form button {
      padding: .5rem 0;
      opacity: 0.7;
      border-radius: 5px; }
    .request-form .form button:active {
      background-color: yellowgreen; }
  .request-form .form::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 3.5rem;
    background-color: white;
    -ms-flex-item-align: center;
    align-self: center;
    top: -1rem; }

footer {
  margin-bottom: 2rem; }
  footer h2 {
    margin: 2rem auto;
    text-align: center;
    font-size: 1.2rem; }
  footer .contact-details {
    text-align: center;
    line-height: 1.5; }

@media screen and (max-width: 1366px) {
  .my-apps .container .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media screen and (max-width: 1024px) {
  :root {
    font-size: calc(0.8vw + 8px); } }

@media screen and (max-width: 660px) {
  nav {
    font-size: 1rem; }
  header {
    background-position: center center; }
    header .header-hello {
      font-size: 3rem; }
    header .header-greet {
      font-size: 2.5rem; }
  main .container .title {
    margin: 2rem; }
    main .container .title span {
      width: 10rem; }
  main .container .row .row-el {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: calc(100% - 2rem);
    padding: 0 1rem; }
    main .container .row .row-el .icon {
      font-size: 3.5rem; }
    main .container .row .row-el h3 {
      font-size: 1.75rem;
      margin: .5rem 0; }
    main .container .row .row-el p {
      font-size: 1.3rem;
      margin-bottom: 1.5rem; }
  main .my-apps .title {
    margin-bottom: 0; }
  main .my-apps a .game-pic {
    width: 18rem;
    height: 18rem;
    margin-top: 2rem; }
  main .my-apps a span {
    font-size: 1.5rem; }
  main .request-form h2 {
    font-size: 2rem; }
  main .request-form .form {
    max-width: 30rem; }
    main .request-form .form span {
      font-size: 1.3rem; }
    main .request-form .form input, main .request-form .form textarea {
      margin-bottom: 1rem; }
    main .request-form .form button {
      padding: .5rem 0; }
  main .request-form .form::before {
    width: 10rem; } }
