.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 300px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    background-color: #EFF0F2;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 500;
    padding: 0 5px;
}

@media screen and (max-width: 660px) {
    h1 {
        font-size: 100px;
    }
}