* {
    margin: 0;
    padding: 0;
}

main {
    perspective: 90vw;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sectionOne {
    height: 535px;
}

.sectionTwo {
    height: 430px;
    transform: rotateX(35deg);
    transform-origin: top;
}

.lagaminas {
    border: 20px solid #808080;
    width: 60%;
    background-color: #717171;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23535354' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.lagaminasUp {
    display: flex;
}

.lagaminasUp__left, .lagaminasUp__right {
    width: 50%;
}

.lagaminasUp__left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winImg {
    background-image: url('assets/q.jpg');
    background-size: cover;
    background-color: white;
    width: 270px;
    height: 270px;
    border: 10px solid black;
    transition: 1s;
}

.winImg--hovered {
    transition: 0s;
    border-color: yellowgreen;
}

.winImg--turned {
    background-image: url('assets/lock.png');
    transform: rotateY(180deg);
    transition: 1s;
}

.lagaminasUp__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.itemUpContainer, .itemBottom {
    background-color: white;
    border: 10px solid black;
    border-radius: 50%;
    width: 190px;
    height: 190px;
}

.itemUp, .itemBottom {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    background-color: white;
}

.itemUp {
    background-image: url('assets/2.jpg');
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 1s;
}

.itemUp--turned {
    background-image: url('assets/key.png');
    transform: rotateY(180deg);
    transition: 1s;
}

.itemUp--picked {
    position: absolute;
    transition: 0s;
}

.itemBottom {
    background-image: url('assets/1.jpg');
    background-size: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 1s;
}

.itemBottom--turned {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    transform: rotateY(180deg);
    transition: 1s;

    p {
        transform: rotateY(-180deg);
        width: 90px;
        font-size: 25px;
        text-align: center;
    }
}


.lagaminasBottom {
    display: flex;
}

.lagaminasBottom__left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lagaminasBottom__right {
    width: 55%;
}

.itemNums {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: white;

        .enterKey {
            background-color: white !important;
        }

        .num {
            width: 50px;
            height: 50px;
            border: 1px solid #717171;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
        }

        .num--active {
            background-color: #808080;
        }

        .num:hover {
            cursor: default;
        }

        // Su JS padaryti?
        // .num:active {
        //     background-color: #717171;
        // }
}

.row {
    display: flex;
}

.btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0px 3px 0px 1px #881b1b;
    background-color: #ff3535;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23571212' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-active {
    transform: translateY(3px);
    box-shadow: 0px 1px 0px 0px #881b1b;
    background-color: #843d3d;
}

.bigBtnContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    height: 95px;
    margin-top: 20px;
}

.btn-big {
    width: 90px;
    height: 90px;
    box-shadow: 4px 10px 0px 1px #881b1b;
}

.bulb {
    background-image: url('assets/bulb.png');
    background-position: 0%;
    background-size: cover;
    width: 30px;
    height: 45px;
}

.btn-big:active {
    transform: translateY(5px);
    box-shadow: 4px 6px 0px 0px #881b1b;
    background-color: #843d3d;
}

.bulb-active {
    background-position: 104%;
}

.bulb-big {
    width: 55px;
    height: 80px;
}

.btnContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;

        .bulb {
            margin-bottom: 15px;
            
        }
    }

    .row {
        width: 100%;
        justify-content: space-around;
    }

    .btnContainerSmall {
        width: 245px;
        height: 245px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}


