:root {
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    min-width: 320px;
    padding: 10px 6px;
    margin: auto;
    max-width: 780px;
    background-color: #333333;
}

.upperCases {
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #797977;
    padding-bottom: 10px;

    img {
        height: 50px;
        margin: 0 10px 0 14px;
    }
    img:first-child {
        height: 62px;
    }

    h2 {
        color: white;
        font-weight: 400;
        font-size: 30px;
    }
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 10px;

}

.card {
    flex: 0 0 auto;
    width: 50%;
    margin: 16px 16px 0 0;
    padding: 0 16px 16px 16px;
    color: white;
    border-right: 1px solid #797977;

    .card-header {
        display: flex;
        margin-bottom: 8px;

        img {
            height: 95px;
            width: 145px;
            overflow-x: hidden;
            background-color: #bbbbbb;
            border: 1px solid #bbbbbb;
            margin-right: 14px;
        }
        .card-header_right {
            max-width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        p {
            font-size: 12px;
            margin-bottom: 8px;
            text-transform: uppercase;
            color: #b1c4d0;
        }
        button {
            background-color: #868684;
            border: none;
            width: 75px;
            height: 20px;
            border-radius: 2px;
            color: #b1c4d0;
            font-size: 12px;
        }
    }

    .card-body {
        display: flex;

    }
    .movie-rating {
        display: flex;
        padding-right: 8px;
        border-right: 1px dashed #797977;
        min-height: 65px;

        img {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }

        h3 {
            line-height: 2;
        }
    }

    .movie-descr {
        margin-left: 8px;
        max-width: 80%;
        p {
            font-size: 12px;
            color: #b1c4d0;
        }
    }
}
.card:last-child {
    border: none;
}
@media screen and (max-width: 520px) {

    .header {
        .hidden {
            display: none;
        }
    
        img {
            margin: 0 10px 0 0;
        }
    }
}

@media screen and (max-width: 360px) and (min-width: 320px) {
    .card {
        width: 100%;
        border: none;
    }
}